
  .example-button-row {
    display: table-cell;
    width: 930px;
  }
  
  .example-button-row .mat-button-base {
    margin: 30px 40px 30px 40px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 320px;
  }
  .bg-image {
    /* The image used */
    background-image: url("../../assets/MIT-WPU-Pune1.jpg");
  }
  a{
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: none;
  }