
  .bot {
    position: absolute;
    left : 950px;
  }
  .botclass {
    position: absolute;
    left : 970px;
    width: 300px;
    padding-left:10px ;
    top: 520px;
    background-color: aqua;
  }